@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  --green-light: #6B7462;
  --green-dark: #2A3222;
  --blackish: #181B19;
  --orange: #BF7E3F;
  --whitish: #FAFAFA;
  --green-white: #E9F2EA;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*  */

body {
  font-family: Nunito, sans-serif;
}

img {
  width: 100%;
}

header {
  background-image: url("https://images.unsplash.com/photo-1576849143892-17ec3535540f");
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
  display: grid;
  place-items: center;
}

h1 {
  color: var(--whitish);
  font-size: 48px;
  padding: 24px;
  text-align: center;
  text-shadow: 0 0 8px rgba(0,0,0,0.6);
}

nav{
  background-color: var(--green-dark);
  position: sticky;
  top: 0;
  z-index: 10;
}

nav a {
  color: var(--whitish);
  padding: 4px 8px 4px 8px;
  display: inline-block;
  text-decoration: none;
}

nav a:hover {
  background-color: var(--orange);
  color: var(--blackish);
}

section {
  padding: 32px;
}

h2 {
  font-size: 36px;
  color: var(--orange);
  margin-bottom: 20px;
}

p {
  margin-bottom: 16px;
}

.gallery>div {
  position:relative;
}

.gallery img {
  height: 300px;
  object-fit: cover;
}

.image-titles {
  position: absolute;
  bottom: 24px;
  right: 24px;
  color: var(--whitish);
  text-shadow: 0 0 10px rgba(0,0,0,1);
  text-align: right;
}

.image-titles p{
  margin: 0;
  font-size: 18px;
}

.image-titles h3{
  font-size: 24px;
}

.gallery {
  display: grid;
  gap: 24px;
}

#facts {
  background-color: var(--green-white);
}

li {
  margin-bottom: 8px;
}

li span {
  font-weight: 800;
}

#facts img {
  margin-top: 8px;
  width: 150px;
  display: block;
}

.uni-info h3{
  font-size: 24px;
  margin-bottom: 24px;
  text-align: center;
}

.uni-info img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 125px;
  margin: auto;
  margin-bottom: 16px;
  display: block;
  
}

.uni-info {
  border-bottom: 1px solid var(--green-light);
  margin-bottom: 24px;
}

td, th {
  border: 1px solid var(--green-light);
  padding: 8px;
  text-align: center;
}

tr td:first-of-type {
  text-align: left;
}

tr th {
  background-color: var(--green-light);
  border: 1px solid var(--green-dark);
  color: var(--whitish);
}

tr:nth-of-type(odd){
  background-color: var(--green-white);
}

table {
  border-collapse: collapse;
}

footer {
  background-color: var(--green-dark);
  color: var(--whitish);
  padding: 32px;
}

footer p {
  margin: 0;
  text-align: center;
}

@media only screen and (min-width: 700px) {
/*   body {
    background-color: lightblue;
  } */
  
  section {
    padding: 64px;
  }
  
  nav a {
    padding: 12px 32px
  }
  
  ul{
    columns: 2;
  }
  
  .uni-info img{
    float: left;
    margin-right: 24px;
    shape-outside: circle();
  }
  
  .uni-info {
    overflow: hidden;
    margin-bottom: 40px;
  }
  
  .uni-info p {
    margin-top: 64px;
    margin-bottom: 32px;
  }
  
  .uni-info .right-float{
    float:right;
    margin-left: 24px;
    margin-right: 0;
  }
}

@media only screen and (min-width: 900px) {
/*   body {
    background-color: lightblue;
} */
  p, a, li {
    font-size: 18px;
    max-width: 850px;
  } 

  .gallery {
    grid-template-columns: 1fr 1fr;
  }
  
  .gallery>div:last-of-type{
    grid-column: 1/3;
  }
  
  .uni-info img{
    margin-bottom: 32px;
  }
  
  table {
    margin: auto;
  }
  
}

@media only screen and (min-width: 1200px) {
/*    body {
    background-color: lightblue;
} */
  
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery>div:last-of-type{
    grid-column:3/4
  }
  
  .uni-info h3{
    text-align: left;
  }
}